body {
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #ffedd1;
  color: #053229;
}

nav {
  background-color: #bcdddc;
}

nav > ul {
  padding: 0px;
  display: flex;
  margin: 0px;
}

nav li,
#skills ul li {
  list-style: none;
  padding: 10px;
}

nav li:hover {
  background-color: #355e58;
}

nav li:hover a {
  color: whitesmoke;
}

h1,
h2,
h3 {
  text-align: center;
}

.button-container {
  text-align: center;
}

section div {
  display: flex;
}

section section {
  background-color: #fdc1b4;
  border: 5px ridge #053229;
  margin: 10px;
}

#skills ul {
  display: flex;
}

#skills li:hover {
  background-color: #355e58;
  color: whitesmoke;
}

img {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

form {
  width: 420px;
  margin: auto;
  border: 5px ridge #053229;
}

#submit {
  text-align: center;
}

p {
  margin: 16px;
}

input {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

[type="submit"],
button {
  background-color: #355e58;
  color: whitesmoke;
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
