body {
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

nav {
  background-color: #bcdddc;
}

nav > ul {
  padding: 0px;
  display: flex;
  margin: 0px;
}

nav li {
  list-style: none;
  padding: 10px;
}

section div {
  display: flex;
}

p {
  margin: 16px;
}

img {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}
